# Include machine-specific configuration (name, email, signing keys, etc.)
[include]
    path = ~/.config/git/machine.config

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lm = ls-files --exclude-standard -m
    ls = ls-files --exclude-standard
    lg = log --oneline --graph --all --decorate

[format]
    pretty = oneline

[merge]
    ff = false

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[push]
    default = simple
    followTags = true

[pull]
    rebase = true

[core]
    editor = nvim
    autocrlf = input

# URL overwrites for GitHub
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[url "ssh://git@github.com/"]
    insteadOf = "https://github.com/"
