[user]
  name = Ian Livingstone
  email = ianrlivingstone@gmail.com
  signingkey = C66F26BB37EAD537
[github]
  user = ianlivingstone
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[alias]
  co = checkout
  ci = commit
  st = status
  lm = ls-files --exclude-standard -m
  ls = ls-files --exclude-standard
[format]
  pretty = oneline
[merge]
  ff = false
[init]
	defaultBranch = main
[commit]
	gpgsign = true
